.list-note-cards {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  margin: 48px;
}

.add-note {
  border: solid 1px #e6e4e7;
  border-radius: 10px;
  width: 275px;
  height: 275px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  .circle {
    padding: 50px;
    border: solid 4px #e6e4e7;
    border-radius: 50%;

    position: absolute;

    cursor: pointer;
  }

  span {
    font-size: 100px;
    user-select: none;
  }
}
