.form-card {
  width: 550px;
  margin: 48px auto;
  padding: 24px 36px;

  border: solid 1px #e6e4e7;
  border-radius: 10px;

  textarea {
    font-size: 14px;
  }
}

.form-group {
  margin: 10px auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input[type='text'],
textarea,
select,
.input-file {
  width: 60%;
  font-size: 16px;
}

.input-file {
  background-color: hsl(280, 6%, 25%);
  border-radius: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.25s;

  &:hover {
    background-color: hsl(280, 6%, 20%);
  }

  input[type='file'] {
    all: unset;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  label {
    cursor: pointer;
    z-index: 100;
    text-align: center;
    width: 100%;
    padding: 18px;
  }

  .cursor {
    position: absolute;
    width: 100%;
    height: 100%;

    cursor: pointer;
  }
}

.action-buttons {
  width: 100%;
  margin-top: 24px;
}

h2 {
  margin-bottom: 24px;
}

button {
  display: block;
}

.preview-img {
  justify-content: center;

  img {
    width: 75%;
  }
}

.image-card {
  display: flex;
  justify-content: center;

  img {
    width: 100%;
    display: block;
    transition: 0.35s ease-out;
  }

  .image-center{
    width: 70%;

    display: flex;
    justify-content: center;
    position: relative;

    cursor: pointer;
  }

  .deleteImage {
    background-color: hsla(278, 6%, 25%, 0.5);
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin: 4px;
    border-radius: 5px;

    opacity: 0;

    color: hsl(280, 6%, 80%);

    &:hover{
      background-color: hsla(278, 6%, 25%, 0.9);

    }
  }
}
