<div class="form-card">
  <h2>Modifier la NOTE</h2>
  <form (ngSubmit)="onSubmitModifyForm()" [formGroup]="noteForm">
    <div class="form-group">
      <label for="titleInput">Titre</label>
      <input type="text" id="titleInput" formControlName="title" />
    </div>
    <div class="form-group">
      <label for="commentInput">Commentaire</label>
      <textarea
        type="text"
        id="commentInput"
        rows="4"
        formControlName="comment"
      ></textarea>
    </div>
    <div class="form-group">
      <label for="isPrivate">Note à partager ?</label>
      <select id="isPrivate" formControlName="isPrivate">
        <option value="true">Privé</option>
        <option value="false">Lien partagé</option>
      </select>
    </div>
    <div class="form-group">
      <label for="image">Image</label>
      <input type="file" id="image" (change)="onFileChange($event)" />
    </div>

    <div class="form-group image-card">
      <img *ngIf="imageUrl" [src]="imageUrl" alt="image note" />
    </div>

    <div class="form-group">
      <label for="deleteImage">Supprimer l'image</label>
      <input type="checkbox" id="deleteImage" formControlName="isDeleteImage" />
    </div>
    <div>
      <button class="action-buttons"  type="submit">Enregistrer</button>
    </div>
  </form>
</div>
