.note-card {
  border: solid 1px #e6e4e7;
  width: 275px;
  border-radius: 10px;
  overflow: hidden;

  .image-card {
    background-color: #413c44;
    overflow: hidden;

    img {
      width: 100%;
      display: block;
      transition: 0.35s ease-out;

      &:hover {
        transform: scale(1.2);
        cursor: pointer;
      }
    }
  }

  .note-card-info {
    margin: 10px;

    h3 {
      font-size: 20px;
    }

    p {
      margin: 16px;
    }

    .todo {
      margin: 16px;
    }
  }

  .note-settings {
    display: flex;
    margin: 8px;
    justify-content: space-around;

    div {
      color: #e6e4e7;
      transition: 0.25s;

      svg {
        cursor: pointer;
      }

      &:hover {
        color: hsl(278, 6%, 60%);
      }
    }

    .btn-copyUrl {
      position: relative;

      .onCopyMessage {
        display: none;
        bottom: 28px;
        left: -12px;
        position: absolute;
      }

      span {
        color: #e6e4e7;
        background-color: rgb(40, 92, 42);
        padding: 2px;
        border-radius: 2px;
      }
    }
  }
}
