.note-card {
  background-color: none;
  width: 550px;
  margin: 1rem auto;
  border-radius: 10px;
  border: 1px solid #e6e4e7;
  overflow: hidden;

  .title {
    margin: 0;
  }

  .image-card {
    overflow: hidden;
  }

  img {
    width: 100%;
    display: block;
    transition: 0.35s ease-out;
  }

  p {
    margin: 0.5rem 0;
  }

  .note-card-info {
    padding: 0.75rem;
  }
}

.notFound {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;

  .title {
    text-align: center;
  }

  img {
    width: 100px;
  }
}

.admin {
  display: flex;
  justify-content: center;
  button {
    padding: 0.25rem;
    margin: 0.5rem;
  }
}
