.active {
  color: rgb(235, 80, 80);
  text-decoration: underline;
}

header {
  text-align: center;
  border-bottom: 1px var(--color4) solid;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .auth-card {
    a, button {
      margin: 0 0.5rem;
      padding: 0.25rem;
    }

    button {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

// nav {
//   display: flex;
//   justify-content: center;
// }

.add-btn {
  width: 1rem;
}