<header>
  <h1><a routerLink="/notes">Initnote</a></h1>
  <div>
    <div class="auth-card">
      <div *ngIf="!isUserLoggedIn">
        <a routerLink="auth/login" routerLinkActive="active">login</a>
        <a routerLink="auth/signup" routerLinkActive="active">signup</a>
      </div>
      <div class="btn-logout" *ngIf="isUserLoggedIn" (click)="onDisconnect()">
        <span
          class="iconify"
          data-icon="teenyicons:logout-outline"
          data-width="30"
        ></span>
      </div>
    </div>
  </div>
</header>
