/* You can add global styles to this file, and also import other style files */
:root {
  --color1: #1a181b;
  --color2: #5257b1;
  // --color2: #6369d1;
  --color3: #e75a7c;
  --color4: #f0f0c9;
  --color5: #e8ebe4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Montserrat', 'sans-serif';
}

body {
  color: #e6e4e7;
  background-color: #1a181b;
  background-color: #571b75;
}

input[type='text'],
input[type='file'],
textarea,
select {
  color: #e6e4e7;
  resize: none;
  border: none;
  background-color: hsl(280, 6%, 25%);
  padding: 8px;
  border-radius: 5px;

  font-size: 18px;

  &:focus {
    outline: 0;
  }
}

button {
  font-size: 18px;

  border: none;
  padding: 4px;
  border-radius: 5px;
  border: solid #e6e4e7 1px;
  background: none;
  color: #e6e4e7;
  cursor: pointer;
  transition: 0.25s;

  &:hover {
    background-color: #413c44;
  }
}
